<div class="container">
    <div class="contact-box">
        <div class="left"></div>
        <div class="right">
            <h2>Create game</h2>
            <!-- <input type="text" class="field" placeholder="Your Name"> -->
            <mat-form-field class="game-info">
              <mat-label >Your Username</mat-label>
              <input matInput [(ngModel)]="user">
            </mat-form-field>
            <mat-form-field class="game-info">
                <mat-label>Select side</mat-label>
                <mat-select [(value)]="side" [disabled]="!user">
                  <mat-option>None</mat-option>
                  <mat-option value="white">White</mat-option>
                  <mat-option value="black">Black</mat-option>
                  <mat-option value="random">Random Side</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="game-info">
                <mat-label>Select Time</mat-label>
                <mat-select [(value)]="time" [disabled]="!side">
                  <mat-option>None</mat-option>
                  <mat-option value="rapid">Rapid</mat-option>
                  <mat-option value="blitz">Blitz</mat-option>
                  <mat-option value="bullet">Bullet</mat-option>
                </mat-select>
            </mat-form-field>
            <button class="btn" (click)="createGame()" [disabled]="!time">Submit</button>
        </div>
    </div>
</div>

