<div *ngIf="data.type!=='resign'" class="dialog-box">
    <h1 mat-dialog-title>Attention !</h1>
    <div mat-dialog-content>
    <p *ngIf="data.type==='draw'">{{data.opponent}} has offered a draw</p>
    <p *ngIf="data.type==='take back'">{{data.opponent}} proposed a take back</p>
    </div>
    <div mat-dialog-actions class="dialog-actions">
    <button mat-raised-button color="primary" (click)="onNoClick('accept')">Accept</button>
    <button  mat-raised-button color="warn" (click)="onNoClick('decline')">Decline</button>
    </div>
</div>

<div *ngIf="data.type==='resign'" class="dialog-box">
    <h1 mat-dialog-title>Attention !</h1>
    <div mat-dialog-content>
    <p>{{data.opponent}} has resgined</p>
    </div>
    <div mat-dialog-actions class="dialog-actions">
    <button mat-raised-button color="primary" (click)="onNoClick('view board')">view board</button>
    <button  mat-raised-button color="warn" (click)="onNoClick('home')">home</button>
    </div>
</div>

