<p>game works!</p>
<div *ngIf="user && !ready">
    <h1 >hello {{user}} send link below to your friend
    </h1>
    <br/>
    <a>http://localhost:4200/game/{{gameId}}</a>
    <mat-progress-spinner></mat-progress-spinner>

</div>

<h2 *ngIf="!ready && user">waiting for players to join game ...</h2>

<h1 *ngIf="ready">current player: {{user}} opponent {{otherUser}}</h1>

    
<div *ngIf="!user">
    <p>enter user</p>   
    <input #userInput/>
    <button (click)="createUser(userInput)">submit</button>
</div>

<h1>{{ready}}</h1>

<div *ngIf="ready" class="chat-container">
    <div class="chat-header">
      <h2>Chat</h2>
    </div>
    <div class="chat-body">
      <div class="message" *ngFor="let message of messages">
        <div class="message-content">
            <h3>{{message.sender}}</h3>
          {{ message.content }}
        </div>
      </div>
    </div>
    <div class="chat-footer">
      <input #msg type="text" placeholder="Type a message...">
      <button (click)="sendMessage(msg)">Send</button>
    </div>
    <board></board>
  </div>
   