<div class="welcome">
    <!-- <div *ngIf="isCreator && !ready">
        <h1 >hello {{player}} send link below to your friend
        </h1>
        <br/>
        <a>http://localhost:4200/game/{{gameId}}</a>
        <br/>
    </div> -->
    <app-waiting [gameId]="gameId"></app-waiting>


    <h2 *ngIf="!ready && isCreator">waiting for players to join game ...</h2>



    <div *ngIf="!isCreator && !ready">
        <p>enter user</p>   
        <input [(ngModel)]="player"/>
        <button (click)="joinGame()">submit</button>
    </div>


    <div *ngIf="ready" class="game-ui">
        <board></board>
        <app-chat  [sender]="player" [receiver]="opponent" [roomCode]="gameId"></app-chat>
    </div>   
</div>
