<p>game works!</p>
<div *ngIf="user && !ready">
    <h1 >hello {{user}} send link below to your friend
    </h1>
    <br/>
    <a>http://localhost:4200/game/{{gameId}}</a>
    <br/>
</div>

<h2 *ngIf="!ready && user">waiting for players to join game ...</h2>


<h1 *ngIf="ready">current player: {{user}} opponent {{otherUser}}</h1>

<div *ngIf="!user">
    <p>enter user</p>   
    <input #userInput/>
    <button (click)="createUser(userInput)">submit</button>
</div>

<h1>{{ready}}</h1>

<div *ngIf="ready">
    <board></board>
    <app-chat  [sender]="user" [receiver]="otherUser" [roomCode]="gameId"></app-chat>
</div>   
