.prog{
    /* background-color: darkgoldenrod; */
    margin: 100px;
    height: 200px;
    width: 200px;
    padding: 50px;
}

.app-progress-bar{
    width: 500px;
    height: 7px;
    /* background-color: brown; */
    /* height: 20px; */
    margin: 50px;
}

.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 20px;
  }
  
  .example-margin {
    margin: 0 10px;
  }
  
  .example-card {
    margin-bottom: 10px;
    width:max-content;
    height: 200px;
    text-align: center;
  }

  .join-link{
    border: solid;
    padding: 5px;
  }

  .app-con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

/* copy link css */

.copy-link {
  --height: 50px;

  display: flex;
  max-width: 400px;
}

.copy-link-input {
  flex-grow: 1;
  padding: 0 8px;
  font-size: 14px;
  border: 1px solid #cccccc;
  border-right: none;
  outline: none;
}

.copy-link-input:hover {
  background: #eeeeee;
}

.copy-link-button {
  flex-shrink: 0;
  width: var(--height);
  height: var(--height);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dddddd;
  color: #333333;
  outline: none;
  border: 1px solid #cccccc;
  cursor: pointer;
}

.copy-link-button:hover {
  background: #cccccc;
}

  

