

.in-game-options{
	/* background-color: #5cb85c;  */
	height: 130px;
  width: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
    position: relative;
    top: 500px;
    left: 1142px;
    
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background:#e6e9ff;
	color:#667aff;
	border: 0;
	font-size: 17px;
  width: 110px;
  height: 40px;
}

.chat-test{
  position: absolute;
  top:1000px;
  left:200px
}