<h1>app works</h1>
<h4>Basic mat-select</h4>
<mat-form-field appearance="fill">
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selected">
      <mat-option>None</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
</mat-form-field>


<!-- <div class="app-con">
    <h1>app works</h1>
    <nav>
        <a routerLink="/">Root</a>
        <br/>
        <a routerLink="/home">Home</a>
        <br/>
    </nav>
    
</div> -->
<!-- <mat-progress-bar mode="query" class="app-progress-bar"></mat-progress-bar> -->

<!-- <mat-card class="example-card">
    <mat-card-content>
      <h2 class="example-h2">Waiting for other players to join ...</h2>
      <p class="example-h2 join-link">http//localhost:4020/gameId/112344556652.</p>
        
      <section class="example-section">
        <mat-progress-bar
            class="example-margin"
           
            mode="query"
            
           >
        </mat-progress-bar>
      </section>
    </mat-card-content>
</mat-card> -->





<router-outlet></router-outlet>

